/bot-development/bots/*.exe
/bot-development/bots/output.txt
/WinterChallenge2026-Exotec/bot_log.txt
*.log
.directory
.vscode/settings.json
prompts/senior-dev-consultant.md
prompts/strategic-planner.md
*/__pycache__/*.pyc
run*asan.sh
bot-development/simulation/angled-debug.txt
bot-development/*/*log_*.txt
